<!-- app/views/cart/show.html.erb -->
<h1>Shopping Cart</h1>
<ul>
  <% @cart_items.each do |item| %>
    <li><%= item.product.name %> - <%= item.subtotal %></li>
  <% end %>
</ul>
<p>Total Price: <%= @total_price %></p>