<%= turbo_frame_tag "post_modal" do %>
 <div class="modal-overlay"></div>
  <div class="modal flex-col">
    <div class="flex border-b w-full justify-between items-center p-3">
      <div></div>
      <h1 class="font-bold text-sm">New Post</h1>
      <%= link_to "X", posts_path, class: "text-center text-slate-700 font-medium focus:ring-4 focus:ring-slate-100 no-underline inline-block", data: { turbo: false } %>
    </div>
      
      <div class="mt-10">
        <%= render "form", post: @post %>
      </div>
  </div>
<% end %>