@import "font-awesome";

body {
  height: 100%;
  margin: 0;
  background-color: #faf9f6;
}
.main-container {
  margin-top: 2%;
}
.container-box1,
.container-box2 {
  width: 100%;
}
.section {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
}
.introduction {
  display: flex;
  justify-content: space-around;
}
.container-box1 {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 50px;
}
.img {
  width: 80%;
}
.section-two {
  display: flex;
}
.welcome {
  width: 72%;
  line-height: 1.3;
}
.reg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  overflow: hidden;
}
.spacer {
  height: 200px;
}

.input {
  width: 100%;
  border: none;
}

.hand {
  background-color: #ffffff;
}
.txt-color {
  color: #121843;
}

.left-hand-side {
  // background-color: red;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.main-content {
  overflow: auto;
}

/* Hide scrollbars for webkit-based browsers */
.main-content::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* For Firefox and other non-webkit browsers */
.main-content {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.comment {
  display: flex;
  height: 100%;
  /* justify-content: space-around; */
  align-items: stretch;
  flex-wrap: wrap;
  align-content: space-between;
}
.icon {
  color: black;
  font-size: 20px;
}

/* Example CSS for the custom text area */
.custom-text-area {
  width: 350px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  resize: vertical; /* Allow vertical resizing */
}

.custom-file-input {
  /* Apply your desired styling */
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 8px;
  width: 100%;
  transition: border-color 0.3s;
}

.custom-file-input:focus {
  outline: none;
  border-color: #007bff;
}

// .form_comment {
//   position: fixed;
//   top: 50%;
//   bottom: 0;

// }
.reactions {
  padding-top: 3%;
  display: flex;
  width: 8%;
  justify-content: space-between;
}
.reactions .heart {
  color: #ff1515;
}
.custom-text-area:focus {
  border-color: #007bff; /* Highlight border on focus */
  outline: 0; /* Remove default focus outline */
}
.modal {
  position: fixed;
  z-index: 22222;
  padding: 2em;

  /* Centering */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  /* Add the drop shadow */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}
.showpost {
  height: 430px;
  width: 100%;
  object-fit: cover;
}
.post-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  // z-index: -1;
}

.modal-overlay-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  // z-index: -1;
}

.modal-menu {
  display: none;
  position: fixed;
  z-index: 22222;
  padding: 2em;

  /* Centering */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  /* Add the drop shadow */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}
.cancel-button {
  background-color: #1530ff;
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration: none;
}
.cancel-button:hover {
  background-color: #2640fe;
}

.input {
  width: 100%;
  border: none;
}

.cart-counter {
  position: absolute;
  top: 1.98%;
  right: 11.6%;
  z-index: 2222;
  color: #ffd700;
}

@media only screen and (max-width: 770px) {
  .reg {
    display: flex;
    flex-direction: column;
  }

  .hand {
    width: 80%;
  }

  .input {
    width: 100%;
    border: none;
  }
  .spacer {
    height: 50px;
  }
  .moveup {
    position: absolute;
    top: 50%;
    color: red;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1040px) {
  //TABLET ONLY STYLES
}
